<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminpanel/incadminpanel/layout">
<head>
  <meta charset="UTF-8">
  <title>Content List</title>
  <script type="text/javascript">
    CKEDITOR.replace('content_detailed_description');
  </script>
</head>
<body>
<th:block layout:fragment="customCss">
  <link th:rel="stylesheet" th:href="@{/css/admin.css}">
</th:block>

<th:block layout:fragment="content">
  <div class="asd" style="margin: 30px 30px 0px 290px">
    <div class="ui page grid">


      <div class="three column row">
        <div class="two wide column">
        </div>
        <div class="twelve wide column" style="border:1px solid darkgreen;padding: 30px">
          <form class="ui form"  th:object="${content}"  th:action="@{'/admin/content/update/'+${stIndex}}" method="post">
            <h4 class="ui dividing header">İçerik Ekle</h4>

            <div class="fields">
              <div class="sixteen wide field">
                <label>İçerik Başlığı</label>
                <input type="text" name="content_title" maxlength="16" placeholder="İçerik Başlığı"
                th:value="${content.getContent_title()}">
              </div>
            </div>
            <th:block th:if="${isError == 1}">
              <div class="ui red message" style="display: block">
                <i class="close icon"></i>
                <div class="header">
                  Hata (Benzersizlik - Başlık)
                </div>
                <strong>Bu başlıkta bir içerik zaten mevcut.</strong>
              </div>
            </th:block>

            <div class="field">
              <div class="sixteen wide field">
                <div class="ui red message" style="display: block"
                     th:if="${ #fields.hasErrors('content_title') }"
                     th:errors="*{content_title}">
                </div>
              </div>
            </div>



            <div class="fields">
              <div class="sixteen wide field">
                <label>Kısa Açıklama</label>
                <input type="text" name="content_brief_description" maxlength="60"
                       placeholder="Kısa Açıklama" th:value="${content.getContent_brief_description()}">
              </div>
            </div>
            <div class="field">
              <div class="sixteen wide field">
                <div class="ui red message" style="display: block"
                     th:if="${ #fields.hasErrors('content_brief_description') }"
                     th:errors="*{content_brief_description}">
                </div>
              </div>
            </div>


            <div class="field">
              <label>Detaylı Açıklama</label>
              <div class="field">
                <textarea name="content_detailed_description" class="ckeditor form-control"
                th:value="${content.getContent_detailed_description()}"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="sixteen wide field">
                <div class="ui red message" style="display: block"
                     th:if="${ #fields.hasErrors('content_detailed_description') }"
                     th:errors="*{content_detailed_description}">
                </div>
              </div>
            </div>


            <div class="fields">
              <div class="sixteen wide field">
                <label>Durum</label>
                <div class="field">
                  <select class="ui fluid search selection dropdown" name="content_status"
                          style="width: auto;height: auto">
                    <option value="1">Aktif</option>
                    <option value="2">Pasif</option>
                  </select>
                </div>
              </div>
            </div>








            <button type="submit" class="ui button primary" tabindex="0" style="float: right">Ekle</button>
            <button class="ui button negative" tabindex="0" style="float: right">İptal</button>
          </form>
        </div>
        <div class="two wide column">
        </div>
      </div>
    </div>
  </div>






</th:block>

<th:block layout:fragment="customJs">
</th:block>

</body>
</html>




