<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminpanel/incadminpanel/layout">
<head>
    <meta charset="UTF-8">
    <title>Content List</title>
    <script type="text/javascript">
        CKEDITOR.replace('ann_description');
    </script>
</head>
<body>
<th:block layout:fragment="customCss">
    <link th:rel="stylesheet" th:href="@{/css/admin.css}">
</th:block>

<th:block layout:fragment="content">
    <!-- ADV LIST -->
    <div class="asd" style="margin: 30px 30px 0px 290px">
        <div class="ui page grid">

            <div class="row">
                <div class="twelve wide column">

                </div>

                <div class="four wide column">
                    <div class="ui icon input">
                        <input type="text" placeholder="Arama...">
                        <i class="search icon"></i>
                    </div>
                </div>

            </div>









        </div>
    </div>





</th:block>

<th:block layout:fragment="customJs">
</th:block>

</body>
</html>




