<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminpanel/incadminpanel/layout">
<head>
    <meta charset="UTF-8">
    <title>GalleryImg List</title>

</head>
<body>
<th:block layout:fragment="customCss">
    <link th:rel="stylesheet" th:href="@{/css/admin.css}">
    <style>
        .ui.cards > .card > .content .trash.icon:hover{
            font-size: x-large;
            opacity: 1;
            color: #FF2733;
        }
        .ui.cards > .card > .content .edit.icon:hover{
            font-size: x-large;
            opacity: 1;
            color: #043b6e;
        }
    </style>
</th:block>

<th:block layout:fragment="content">

    <div class="asd" style="margin: 30px 30px 0px 290px">

        <div class="ui page grid">
            <div class="ui special three stackable cards">
                <th:block th:if="${ls != null}">
                    <th:block th:each="item : ${ls}">
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a th:href="@{'/admin/gallery/imageupdate/'+${item.id}}" class="ui inverted button">Düzenle</a>
                                        </div>
                                    </div>
                                </div>
                                <th:block th:if="${item.gallery_image_url != null}">
                                    <img class="ui small image"
                                         th:src="@{'/uploads/gallery/'+${item.gallery.id}+'/'+${item.gallery_image_url}}">
                                </th:block>
                                <th:block th:if="${item.gallery_image_url == null}">
                                    <img class="ui small image" th:src="@{'/uploads/gallery/emptyimage.png'}">
                                </th:block>
                            </div>
                            <div style="text-align: center" class="content extra">
                                <span class="header" th:text="${item.gallery_image_title}"></span>
                            </div>
                            <div class="extra content" style="height: 35px">
                                <a style="font-size: 20px; position: absolute; right: 0px;" th:onclick="fncDelete([[${item.gallery.id}]],[[${item.id}]])">
                                    <i class="trash icon"></i>
                                </a>
                            </div>
                        </div>

                    </th:block>
                </th:block>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="customJs">
    <script th:src="@{/js/galleryimagelist.js}"></script>
</th:block>
</body>
</html>