<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<th:block th:fragment="footer">
    <!-- Footer area -->
    <div class="container footer">
        <div class="ui container">
            <div class="ui three column stackable doubling grid" style="text-align: justify">
                <div class="column">
                    <div class="ui header" style="text-align: center">Güvenli Veri Hizmetleri</div>
                    <p>
                        Şirketiniz için gerekli tüm bilgileri saklayabileceğiniz güvenilir veri depolama alanımıza
                        bulunduğunuz her noktadan ulaşabilirsiniz. Verilerinizi depolama ve onlara kolaylıkla
                        ulaşabilmeniz için sistemimize ücretsiz kayıt olabilirsiniz.
                    </p>
                </div>
                <div class="column">
                    <div class="ui header" style="text-align: center">Kullanışlı ve Esnek Admin Paneli</div>
                    <p>
                        Şirketinize ait kullanıcı ve müşteri ilişkilerinizi rahatlıkla kontrol edebileceğiniz ayrıca
                        haber,
                        reklam, ürün yönetimleri gibi birçok ihtiyacınızı karşılayabileceğiniz yönetim panelleri
                        olabildiğince esnek ve anlaşılır şekilde tarafımızca tasarlanıp kullanımınıza sunuldu.
                    </p>
                </div>
                <div class="column">
                    <div class="ui header" style="text-align: center">Platformlara Uyumlu Arayüz</div>
                    <div class="ui list">
                        <p>
                            Görsel anlamda platform farketmeksizin (responsive) tasarlanmış uygulamamız mobil platformda
                            basit kullanımıyla dikkatleri üzerine çekmeyi amaçlamış ve müşteri memnuniyetini en mühim
                            hedef edinmiştir. Bizimle irtibata geçiniz...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; 2021 Türkiye, Tüm hakları saklıdır.
    </div>
</th:block>

</body>
</html>
