<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="header">
    <div class="pusher">
        <div class="ui menu asd borderless"
             style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.1s;">
            <a class="item openbtn">
                <i class="icon content"></i>
            </a>
            <a class="item">Messages
            </a>
            <div class="right menu">

                <div class="item">

                    <div class="right menu">
                        <a href="#" class="item">
                            <i class="settings icon"></i>
                        </a>
                        <div class="ui dropdown item">
                            <i class="user cirlce icon"></i>
                            <div class="menu">
                                <a href="#" class="item">
                                    <i class="info circle icon"></i> Profile</a
                                >
                                <a href="#" class="item">
                                    <i class="wrench icon"></i>
                                    Settings</a
                                >
                                <a href="#" class="item">
                                    <i class="sign out alternate icon"></i>
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>



