<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="homepanel/inchome/layout">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<th:block layout:fragment="customCss">
    <link th:rel="stylesheet" th:href="@{/css/admin.css}">
</th:block>

<th:block layout:fragment="content">
    <!-- Content area -->
    <div class="ui page grid">

        <div class="three column row">


            <div class="seven wide column">
                <form>
                    <div>
                        <label><b>Adres:</b></label>
                    </div>
                    <div>
                        <span>Sanayi, Büyükdere Cd. No:63, 34415 Kâğıthane/İstanbul</span>
                    </div>
                    </br>
                    <div>
                        <label><b>Tel:</b></label>
                    </div>

                    <div>
                        <span>+90 212 268 35 96</span>
                    </div>
                    </br>
                    <div>
                        <label><b>E-mail:</b></label>
                    </div>
                    <div>
                        <span>sekerbank.haberlesme@sekerbank.hs03.kep.tr</span>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div>
                        <label><b>İsim - Soyisim:</b></label>
                    </div>
                    <div class="ui input ">
                        <input type="text" name="contact_name" maxlength="50" placeholder="İsim Soyisim">
                    </div>
                    </br>
                    <div>
                        <label><b>E-mail:</b></label>
                    </div>
                    <div class="ui input ">
                        <input type="email" name="contact_mail" maxlength="50" placeholder="E-mail">
                    </div>
                    </br>
                    <div>
                        <label><b>Mesajınız:</b></label>
                    </div>
                    <div class="ui input">
                        <input type="text" name="contact_message" maxlength="500">
                    </div>
                    <div>
                        <button type="submit" class="ui inverted green button">Gönder</button>
                    </div>

                </form>
            </div>


            <div class="one wide column">
            </div>
            <div class="eight wide column">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1FIyeKGQQfFC4vsUVGGaWtFuWVjSl12bQ" width="640" height="480"></iframe>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="customJs">
</th:block>

</body>
</html>