<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminpanel/incadminpanel/layout">
<head>
    <meta charset="UTF-8">
    <title>Geolocation</title>
</head>
<body>
<th:block layout:fragment="customCss">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/settings.css}"/>

</th:block>

<th:block layout:fragment="content">
    <!-- ADV LIST -->
    <div class="ui grid asd" style="margin: 30px 30px 0px 290px">
        <div class="two column row">
            <div class="eight wide column">
<span>
    asdasdsa
</span>
            </div>
            <div class="eight wide column" id="map">

            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="customJs">
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO77n1G-xHLmg2lMWxzP1honc_lBYfyDU&callback=initMap"></script>
    <script th:src="@{/js/settings.js}"></script>
</th:block>
</body>

</html>
