<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminpanel/incadminpanel/layout">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<th:block layout:fragment="customCss">
    <style>
        .paginate_button:hover{
            background-color: black !important;
        }
    </style>
</th:block>


<th:block layout:fragment="content">

    <div class="asd" style="margin: 30px 30px 0px 290px">
        <div class="ui page" style="margin-bottom: 40px;">
            <div class="row" style="padding-bottom: 50px;">
                <table id="exampleTable" class="ui celled table sixteen wide " style="width:100%;">
                    <div class="ui icon input">
                        <input type="text" placeholder="Arama...">
                        <i class="search icon"></i>
                    </div>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Duyuru Başlık</th>
                        <th>Kısa Açıklama</th>
                        <th>Aktif/Pasif</th>
                        <th>İşlemler</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


</th:block>

<th:block layout:fragment="customJs">
    <script th:src="@{/js/announcement.js}"></script>
</th:block>
</body>
</html>