<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminpanel/incadminpanel/layout">
<head>
    <meta charset="UTF-8">
    <title>Survey Update</title>
</head>
<body>
<th:block layout:fragment="customCss">
    <link th:rel="stylesheet" th:href="@{/css/admin.css}">
</th:block>

<th:block layout:fragment="content">

    <div class="asd" style="margin: 30px 30px 0px 290px">
        <div class="ui page grid">
            <div class="three column row">
                <div class="four wide column">
                </div>
                <div class="eight wide column" style="border:1px solid darkgreen;padding: 30px">
                    <form class="ui form " th:action="@{'/admin/survey/update/'+${stIndex}}" method="post"
                          th:object="${survey}">
                        <h4 class="ui dividing header">Anket Güncelle</h4>
                        <div class="fields">
                            <div class="sixteen wide field">
                                <label>Anket Başlığı</label>
                                <input type="text" name="survey_title" maxlength="16"
                                       th:value="${survey.getSurvey_title()}"
                                       placeholder="Anket Başlığı Giriniz">
                            </div>
                        </div>
                        <th:block th:if="${isError == 1}">
                            <div class="ui red message" style="display: block">
                                <i class="close icon"></i>
                                <div class="header">
                                    Hata (Benzersizlik - Anket Başlığı)
                                </div>
                                <strong>Bu isim başka bir anket tarafından kullanılmakta.</strong>
                            </div>
                        </th:block>
                        <div class="fields">
                            <div class="eight wide field">
                                <div class="ui red message" style="display: block"
                                     th:if="${ #fields.hasErrors('survey_title') }"
                                     th:errors="*{survey_title}">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="ui button green" tabindex="0">Güncelle</button>
                    </form>
                </div>
                <div class="four wide column">
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="customJs">
</th:block>
</body>
</html>