<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="homepanel/inchome/layout">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<th:block layout:fragment="customCss">
    <link th:rel="stylesheet" th:href="@{/css/login.css}">
</th:block>

<th:block layout:fragment="content">
    <div class="ui middle aligned center aligned grid"
         th:style="'background-image:url(' + @{/images/login/background.jpg} + ');'">
        <div class="column login-column">
            <h2 class="ui image header">
                <div class="content" style="color: white">
                    Şifre Değiştir
                </div>
            </h2>
            <form action="/forgotpassword/changepass" method="post" class="ui large form">
                <div class="ui stacked secondary  segment" style="height: 225px">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="pass_input" type="password" name="newpass" placeholder="Şifrenizi Giriniz">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="passagain_input" type="password" name="newpassagain" placeholder="Şifrenizi Tekrar Giriniz">
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button">Güncelle</button>
                    <div class="ui checkbox" style="float: left;margin-top: 10px; margin-left: 5px;">
                        <input type="checkbox" id="show_pass" name="pass_show" tabindex="0">
                        <label>Şifreleri Göster</label>
                    </div>
                </div>

                <th:block th:if="${isError}">
                    <div>
                        <div class="ui red message" style="display: block">
                            <i class="close icon"></i>
                            <div class="header">
                                Şifre 6 haneden küçük olamaz
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${isError2}">
                    <div>
                        <div class="ui red message" style="display: block">
                            <i class="close icon"></i>
                            <div class="header">
                                Şifreler birbirinden farklı
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${isError3}">
                    <div>
                        <div class="ui red message" style="display: block">
                            <i class="close icon"></i>
                            <div class="header">
                                Şifre değiştirilmiş. <br>Tekrardan mail yollayarak işleminize devam edebilirsiniz
                            </div>
                        </div>
                    </div>
                </th:block>

                <div class="ui error message"></div>
            </form>

        </div>
    </div>


</th:block>


<th:block layout:fragment="customJs">
    <script th:src="@{/js/forgotpasswordchange.js}"></script>
</th:block>

</body>
</html>