<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inchome/layout">
<head>
    <meta charset="UTF-8">
    <title>ForgorPassword</title>
</head>
<body>
<th:block layout:fragment="customCss">
    <link th:rel="stylesheet" th:href="@{/css/login.css}">
</th:block>

<th:block layout:fragment="content">
    <!-- Login From -->
    <div class="ui middle aligned center aligned grid"
         th:style="'background-image:url(' + @{/images/login/background.jpg} + ');'">
        <div class="column login-column">
            <h2 class="ui image header">
                <div class="content" style="color: white">
                    Mail Yolla
                </div>
            </h2>
            <form action="https://s.codepen.io/voltron2112/debug/PqrEPM?" method="get" class="ui large form">
                <div class="ui stacked secondary  segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Gönder</div>
                </div>
                <div class="ui error message"></div>
            </form>

        </div>
    </div>


</th:block>


<th:block layout:fragment="customJs">
    <script th:src="@{/js/forgotpassword.js}"></script>
</th:block>

</body>
</html>