<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inchome/layout">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<th:block layout:fragment="customCss">
  <link th:rel="stylesheet" th:href="@{/css/login.css}">
</th:block>

<th:block layout:fragment="content">
  <!-- Register From -->

  <div class="ui page grid" th:style="'background-image:url(' + @{/images/login/background.jpg} + ');'">

    <div class="three column row">
      <div class="four wide column">
      </div>
      <div class="eight wide column">
        <form class="ui form ">
          <h4 class="ui dividing header" style="color: white">Şirket Bilgileri</h4>
          <div class="field">
            <label style="color: white">Adı</label>
            <div class="field">

              <input type="text" name="company_name" style="color: white" placeholder="Şirket Adı">
            </div>

          </div>
          <div class="field">
            <label style="color: white">Adres</label>
            <div class="field">
                <textarea placeholder="Adres" rows="3"></textarea>

            </div>
          </div>

          <div class="fields">
            <div class="eight wide field">
              <label style="color: white" >Sektör</label>
              <div class="field">
                <select class="ui fluid search selection dropdown" name="sector" style="width: auto;height: auto">
                  <option value="">Sektör Seçiniz</option>
                  <option value="1">Bilişim Teknolojileri</option>
                  <option value="2">Otomotiv</option>

                </select>
              </div>

            </div>

            <div class="eight wide field">
              <label style="color: white">Telefon</label>
              <input type="text" name="company_tel" maxlength="11" placeholder="Telefon" >
            </div>





          </div>

          <h4 class="ui dividing header" style="color: white">Şirket Admin Bilgileri</h4>
          <div class="fields">
            <div class="eight wide field">
              <label style="color: white"> Adı</label>
              <input type="text" name="cuname" maxlength="16" placeholder="Admin Adı">
            </div>
            <div class="eight wide field">
              <label style="color: white">Soyadı</label>
              <input type="text" name="cusurname" maxlength="16" placeholder="Admin Soyadı">
            </div>

          </div>
          <div class="field">
            <div class="sixteen wide field">
              <label style="color: white">E-Mail</label>
              <input type="email" name="cumail" maxlength="16" placeholder="Admin E-Mail">
            </div>
          </div>
          <div class="fields">
            <div class="eight wide field">
              <label style="color: white"> Şifre</label>
              <input type="password" name="cupassword1" maxlength="16" placeholder="Admin Şifre">
            </div>
            <div class="eight wide field">
              <label style="color: white">Şifre Tekrar</label>
              <input type="password" name="cupassword2" maxlength="16" placeholder="Şifre Tekrar">
            </div>

          </div>


          <div class="ui button green" tabindex="0">Kayıt Ol</div>
        </form>
      </div>
      <div class="four wide column">
      </div>
  </div>



  </div>


</th:block>


<th:block layout:fragment="customJs">
 <!-- <script th:src="@{/js/login.js}"></script> -->
</th:block>

</body>
</html>