<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="sidebar">

    <div class="ui sidebar vertical left menu overlay visible"
         style="-webkit-transition-duration: 0.1s; overflow: visible !important;">
        <div class="item logo" style="height: auto !important; max-height: 210px;">
            <img class="logoImage" style="height: auto !important; max-height: 210px;">
            <img class="logoImage" style="display: none"/>
        </div>

        <div class="ui accordion">
            <a class="title item" th:href="@{/admin}"> <i class="user secret icon" style="float: left;"></i> Admin Paneli</a>
            <a class="title item"> <i class="chart bar outline icon" style="float: left;"></i> Reklam Yönetimi <i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/advertisement/}">Reklam Ekle</a>
                <a class="item" th:href="@{/admin/advertisement/list}">Reklam Listeleme</a>
            </div>

            <a class="title item"><i class="chart pie icon" style="float: left;"></i>İçerik Yönetimi <i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/content}">İçerik Ekle</a>
                <a class="item" th:href="@{/admin/content/list}">İçerik Listeleme</a>
            </div>

            <a class="title item"><i class="users icon" style="float: left;"></i>Müşteri Yönetimi <i
                    class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/customer}">Müşteri Ekle
                </a>
                <a class="item" th:href="@{/admin/customer/list}">Müşteri Listeleme
                </a>
            </div>

            <a class="title item"> <i class="bullhorn icon" style="float: left;"></i> Duyurular<i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/announcement}">Duyuru Ekle</a>
                <a class="item" th:href="@{/admin/announcement/list}">Duyuru Listele</a>
                <a class="item" th:href="@{/admin/announcement/category}">Kategori Ekle</a>
                <a class="item" th:href="@{/admin/announcement/category/list}">Kategori Listele</a>
            </div>

            <a class="title item"><i class="shopping bag icon" style="float: left;"></i>Ürünler<i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/product}">Ürün Ekle</a>
                <a class="item" th:href="@{/admin/product/list}">Ürün Listesi</a>
                <a class="item" th:href="@{/admin/product/category}">Kategori Ekle</a>
                <a class="item" th:href="@{/admin/product/category/list}">Kategori Listesi</a>
            </div>

            <a class="title item" th:href="@{/admin/like/list}"><i class="thumbs up icon" style="float: left;"></i>Beğeni Yönetimi</a>

            <a class="title item"><i class="file icon" style="float: left;"></i>Anket Yönetimi<i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/survey}">Anket Ekle</a>
                <a class="item" th:href="@{/admin/survey/list}">Anket Listeleme</a>
            </div>

            <a class="title item" th:href="@{/admin/orders/list}">
                <i class="shopping cart icon"style="float: left;"></i>Sipariş Yönetimi
            </a>

            <a class="title item"><i class="image icon" style="float: left;"></i>Galeri<i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/gallery}">Galeri Ekle</a>
                <a class="item" th:href="@{/admin/gallery/list}">Galeri Listesi</a>
                <a class="item" th:href="@{/admin/gallery/image}">Resim Ekle</a>
            </div>

        </div>




        <div class="ui dropdown item displaynone">
            <z>Dashboard</z>
            <i class="user secret icon"></i>

            <div class="menu">
                <div class="header">
                    Dashboard
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin}">Dashboard
                </a>
            </div>
        </div>

        <div class="ui dropdown item displaynone">
            <z>Reklam Yönetimi</z>
            <i class="chart bar outline icon"></i>
            <div class="menu">
                <div class="header">
                    Reklam Yönetimi
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin/advertisement/}">Reklam Ekle</a>
                <a class="item" th:href="@{/admin/advertisement/list}">Reklam Listeleme</a>
            </div>
        </div>

        <div class="ui dropdown item displaynone">
            <z>İçerik Yönetimi</z>
            <i class="chart pie icon"></i>
            <div class="menu">
                <div class="header">
                    İçerik Yönetimi
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin/content}">İçerik Ekle</a>
                <a class="item" th:href="@{/admin/content/list}">İçerik Listeleme</a>
            </div>
        </div>

        <div class="ui dropdown item displaynone">
            <z>Müşteri Yönetimi</z>
            <i class="users icon"></i>
            <div class="menu">
                <div class="header">
                    Müşteri Yönetimi
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin/customer}">Müşteri Ekle</a>
                <a class="item" th:href="@{/admin/customer/list}">Müşteri Listeleme</a>
            </div>
        </div>

        <div class="ui dropdown item displaynone">
            <z>Duyurular</z>
            <i class="bullhorn icon"></i>
            <div class="menu">
                <div class="header">
                    Duyurular
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin/announcement}">Duyuru Ekle</a>
                <a class="item" th:href="@{/admin/announcement/list}">Duyuru Listele</a>
                <a class="item" th:href="@{/admin/announcement/category}">Kategori Ekle</a>
                <a class="item" th:href="@{/admin/announcement/category/list}">Kategori Listele</a>
            </div>
        </div>

        <div class="ui dropdown item displaynone">
            <z>Ürünler</z>
            <i class="shopping bag icon"></i>
            <div class="menu">
                <div class="header">
                    Ürünler
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin/product}">Ürün Ekle</a>
                <a class="item" th:href="@{/admin/product/list}">Ürün Listesi</a>
                <a class="item" th:href="@{/admin/product/category}">Kategori Ekle</a>
                <a class="item" th:href="@{/admin/product/category/list}">Kategori Listesi</a>
            </div>
        </div>


        <div class="ui dropdown item displaynone">
            <z>Beğeni Yönetimi</z>
            <i class="thumbs up icon"></i>
            <div class="menu">
                <div class="header">
                    Beğeni Yönetimi
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin/like/list}">Beğeni Yönetimi</a>
            </div>
        </div>

        <div class="ui dropdown item displaynone">
            <z>Anket Yönetimi</z>
            <i class="file icon"></i>
            <div class="menu">
                <div class="header">
                    Anket Yönetimi
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin/survey}">Anket Ekle</a>
                <a class="item" th:href="@{/admin/survey/list}">Anket Listeleme</a>
            </div>
        </div>

        <div class="ui dropdown item displaynone">
            <z>Sipariş Yönetimi</z>
            <i class="shopping cart icon"></i>
            <div class="menu">
                <div class="header">
                    Sipariş Yönetimi
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin/orders/list}">Sipariş Listesi</a>
            </div>
        </div>

        <div class="ui dropdown item displaynone">
            <z>Galeri</z>
            <i class="image icon"></i>
            <div class="menu">
                <div class="header">
                    Galeri
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/admin/gallery}">Galeri Ekle</a>
                <a class="item" th:href="@{/admin/gallery/list}">Galeri Listesi</a>
                <a class="item" th:href="@{/admin/gallery/image}">Resim Ekle</a>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="customJs">
</th:block>
</body>
</html>
