<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="sidebar">

    <div class="ui sidebar vertical left menu overlay visible"
         style="-webkit-transition-duration: 0.1s; overflow: visible !important;">
        <div class="item logo">
            <img class="logoImage" />
            <img class="logoImage" style="display: none"/>
        </div>


        <div class="ui accordion">

            <a class="title item" th:href="@{/admin}"> <i class="user secret icon" style="float: left;"></i> Admin
                Paneli</a>


            <a class="title item"> <i class="chart bar outline icon" style="float: left;"></i> Reklam Yönetimi <i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/advertisement/}">Reklam Ekle</a>
                <a class="item" th:href="@{/admin/advertisement/list}">Reklam Listeleme</a>
            </div>

            <a class="title item"><i class="chart pie icon" style="float: left;"></i>İçerik Yönetimi <i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/content}">İçerik Ekle</a>
                <a class="item" th:href="@{/admin/content/list}">İçerik Listeleme</a>
            </div>

            <a class="title item"><i class="users icon" style="float: left;"></i>Müşteri Yönetimi <i
                    class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/customer}">Müşteri Ekle
                </a>
                <a class="item" th:href="@{/admin/customer/list}">Müşteri Listeleme
                </a>
            </div>


            <a class="title item"> <i class="bullhorn icon" style="float: left;"></i> Duyurular<i
                    class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/announcement}">Duyuru Ekle</a>
                <a class="item" th:href="@{/admin/announcement/list}">Duyuru Listele</a>
                <a class="item" th:href="@{/admin/announcement/category}">Kategori Ekle</a>
                <a class="item" th:href="@{/admin/announcement/category/list}">Kategori Listele</a>
            </div>

            <a class="title item"><i class="shopping bag icon" style="float: left;"></i>Ürünler<i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/product}">Ürün Ekle</a>
                <a class="item" th:href="@{/admin/product/list}">Ürün Listesi</a>
                <a class="item" th:href="@{/admin/product/category}">Kategori Ekle</a>
                <a class="item" th:href="@{/admin/product/category/list}">Kategori Listesi</a>
            </div>

            <a class="title item" th:href="@{/admin/like/list}"><i class="thumbs up icon" style="float: left;"></i>Beğeni Yönetimi</a>

            <a class="title item"><i class="file icon" style="float: left;"></i>Anket Yönetimi<i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/survey}">Anket Ekle</a>
                <a class="item" th:href="@{/admin/survey/list}">Anket Listeleme</a>
            </div>

            <a class="title item" th:href="@{/admin/orders/list}">
                <i class="shopping cart icon"style="float: left;"></i>Sipariş Yönetimi
            </a>

            <a class="title item"><i class="image icon" style="float: left;"></i>Galeri<i class="dropdown icon"></i></a>
            <div class="content">
                <a class="item" th:href="@{/admin/gallery}">Galeri Ekle</a>
                <a class="item" th:href="@{/admin/gallery/list}">Galeri Listesi</a>
                <a class="item" th:href="@{/admin/gallery/image}">Resim Ekle</a>
            </div>


        </div>
        <div class="ui dropdown item displaynone">
            <z>Dashboard</z>
            <i class="icon demo-icon heart icon-heart"></i>

            <div class="menu">
                <div class="header">
                    Dashboard
                </div>
                <div class="ui divider"></div>
                <a class="item" href="dashboard.html">Dashboard
                </a>
            </div>
        </div>
        <div class="ui dropdown item displaynone">
            <z>Layout</z>
            <i class="icon demo-icon world icon-globe"></i>

            <div class="menu">
                <div class="header">
                    Layout
                </div>
                <div class="ui divider"></div>
                <a class="item" href="inbox.html">Inbox
                </a>
                <a class="item" href="mail.html">Mailbox
                </a>
                <a class="item" href="chat.html">Chat
                </a>
                <a class="item" href="contacts.html">Contacts
                </a>
                <a class="item" href="photoeditor.html">Photo Editor
                </a>
                <a class="item" href="calendar.html">Calendar
                </a>
                <a class="item" href="filter.html">Filter
                </a>
                <a class="item" href="todo.html">Todo
                </a>
            </div>
        </div>
        <div class="ui dropdown item displaynone">
            <z>Pages</z>
            <i class="icon demo-icon  icon-params alarm"></i>

            <div class="menu">
                <div class="header">
                    Layouts
                </div>
                <div class="ui divider"></div>
                <a class="item" href="sidebar.html">Sidebar
                </a>
                <a class="item" href="menu.html">Nav
                </a>
                <a class="item" href="animatedicon.html">Animated Icon
                </a>
                <a class="item" href="box.html">Box
                </a>
                <a class="item" href="cards.html">Cards
                </a>
                <a class="item" href="color.html">Colors
                </a>
                <a class="item" href="comment.html">Comment
                </a>
                <a class="item" href="embed.html">Embed
                </a>
                <a class="item" href="faq.html">Faq
                </a>
                <a class="item" href="feed.html">Feed
                </a>
                <a class="item" href="gallery.html">Gallery
                </a>
                <a class="item" href="grid.html">Grid
                </a>
                <a class="item" href="header.html">Header
                </a>
                <a class="item" href="timeline.html">Timeline
                </a>
                <a class="item" href="message.html">Message
                </a>
                <a class="item" href="price.html">Price
                </a>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJs">
</th:block>
</body>
</html>
