<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminpanel/incadminpanel/layout">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<th:block layout:fragment="customCss">
  <link th:rel="stylesheet" th:href="@{/css/admin.css}">
  <link th:rel="stylesheet" th:href="@{/css/dashboard.css}">
</th:block>

<th:block layout:fragment="content">
  <!-- DASHBOARD -->
  <div class="asd" style="margin: 30px 30px 0px 290px">
    <div class="pusher">
      <div class="ui grid stackable padded">
        <th:block th:object="${dashboardInfo}">
          <!--card-1-->
          <div class="four wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui fluid card">

              <div style="min-height: 135px;" class="content">
                <div class="ui right floated header red">
                  <i class="icon chart bar outline"></i>
                </div>
                <div class="header">
                  <div class="ui red header">Reklam Yönetimi</div>
                </div>

                <div style="margin-top:16px; margin-bottom:1px" class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b><span style="display: inline-block; min-width: 100px;">Toplam Reklam:</span> <span th:text="${dashboardInfo.getTotalAdvertisement()}"></span></b>
                    </div>
                  </div>
                </div>

              </div>

              <div class="extra content">
                <div class="ui two buttons">
                  <a th:href="@{/admin/advertisement/list}" class="ui red button">Detay</a>
                </div>
              </div>
            </div>
          </div>

          <!--card-2-->
          <div class="four wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui fluid card">

              <div style="min-height: 135px;" class="content">
                <div class="ui right floated header red">
                  <i class="icon chart pie"></i>
                </div>
                <div class="header">
                  <div class="ui red header">İçerik Yönetimi</div>
                </div>

                <div style="margin-top:16px; margin-bottom:1px" class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b><span style="display: inline-block; min-width: 100px;">Toplam İçerik:</span> <span th:text="${dashboardInfo.getTotalContent()}"></span></b>
                    </div>
                  </div>
                </div>
              </div>

              <div class="extra content">
                <div class="ui two buttons">
                  <a th:href="@{/admin/content/list}" class="ui red button">Detay</a>
                </div>
              </div>
            </div>
          </div>

          <!-- card-3-->
          <div class="four wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui fluid card">

              <div style="min-height: 135px;" class="content">
                <div class="ui right floated header red">
                  <i class="icon users"></i>
                </div>
                <div class="header">
                  <div class="ui red header">Müşteri Yönetimi</div>
                </div>

                <div style="margin-top:16px; margin-bottom:1px" class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b><span style="display: inline-block; min-width: 100px;">Toplam Müşteri:</span> <span th:text="${dashboardInfo.getTotalCustomer()}"></span></b>
                    </div>
                  </div>
                </div>

                <div class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b>
                        <span style="display: inline-block; min-width: 100px;">Aktif Müşteri:</span>
                        <span th:text="${dashboardInfo.getTotalActiveCustomer()}"></span>
                      </b>
                    </div>
                  </div>
                </div>

                <div class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b>
                        <span style="display: inline-block; min-width: 100px;">Banlı Müşteri:</span>
                        <span th:text="${dashboardInfo.getTotalPassiveCustomer()}"></span>
                      </b>
                    </div>
                  </div>
                </div>

              </div>

              <div class="extra content">
                <div class="ui two buttons">
                  <a th:href="@{/admin/customer/list}" class="ui red button">Detay</a>
                </div>
              </div>
            </div>
          </div>

          <!-- card-4-->
          <div class="four wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui fluid card">

              <div style="min-height: 135px;" class="content">
                <div class="ui right floated header red">
                  <i class="icon bullhorn"></i>
                </div>
                <div class="header">
                  <div class="ui red header">Duyuru Yönetimi</div>
                </div>

                <div style="margin-top:16px; margin-bottom:1px" class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b><span style="display: inline-block; min-width: 100px;">Toplam Duyuru:</span> <span th:text="${dashboardInfo.getTotalAnnouncement()}"></span></b>
                    </div>
                  </div>
                </div>

                <div class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b>
                        <span style="display: inline-block; min-width: 100px;">Aktif Duyuru:</span>
                        <span th:text="${dashboardInfo.getTotalActiveAnn()}"></span>
                      </b>
                    </div>
                  </div>
                </div>

                <div class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b>
                        <span style="display: inline-block; min-width: 100px;">Pasif Duyuru:</span>
                        <span th:text="${dashboardInfo.getTotalPassiveAnn()}"></span>
                      </b>
                    </div>
                  </div>
                </div>

              </div>

              <div class="extra content">
                <div class="ui two buttons">
                  <a th:href="@{/admin/announcement/list}" class="ui red button">Detay</a>
                </div>
              </div>
            </div>
          </div>

          <!-- card-5 -->
          <div class="four wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui fluid card">

              <div style="min-height: 135px;" class="content">
                <div class="ui right floated header red">
                  <i class="icon shopping bag"></i>
                </div>
                <div class="header">
                  <div class="ui red header">Ürün Yönetimi</div>
                </div>

                <div style="margin-top:16px; margin-bottom:1px" class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b><span style="display: inline-block; min-width: 100px;">Toplam Ürün:</span> <span th:text="${dashboardInfo.getTotalProduct()}"></span></b>
                    </div>
                  </div>
                </div>
              </div>

              <div class="extra content">
                <div class="ui two buttons">
                  <a th:href="@{/admin/product/list}" class="ui red button">Detay</a>
                </div>
              </div>
            </div>
          </div>

          <!-- card-6 -->
          <div class="four wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui fluid card">

              <div style="min-height: 135px;" class="content">
                <div class="ui right floated header red">
                  <i class="icon thumbs up"></i>
                </div>
                <div class="header">
                  <div class="ui red header">Beğeni Yönetimi</div>
                </div>

                <div style="margin-top:16px; margin-bottom:1px" class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b><span style="display: inline-block; min-width: 100px;">Toplam Beğeni:</span> <span th:text="${dashboardInfo.getTotalLike()}"></span></b>
                    </div>
                  </div>
                </div>

                <div class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b>
                        <span style="display: inline-block; min-width: 100px;">Pozitif Beğeni:</span>
                        <span>100</span>
                      </b>
                    </div>
                  </div>
                </div>

                <div class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b>
                        <span style="display: inline-block; min-width: 100px;">Negatif Beğeni:</span>
                        <span>100</span>
                      </b>
                    </div>
                  </div>
                </div>

              </div>

              <div class="extra content">
                <div class="ui two buttons">
                  <a th:href="@{/admin/like/list}" class="ui red button">Detay</a>
                </div>
              </div>
            </div>
          </div>

          <!-- card-7 -->
          <div class="four wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui fluid card">

              <div style="min-height: 135px;" class="content">
                <div class="ui right floated header red">
                  <i class="file icon"></i>
                </div>
                <div class="header">
                  <div class="ui red header">Anket Yönetimi</div>
                </div>

                <div style="margin-top:16px; margin-bottom:1px" class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b><span style="display: inline-block; min-width: 100px;">Toplam:</span> <span th:text="${dashboardInfo.getTotalSurvey()}"></span></b>
                    </div>
                  </div>
                </div>

              </div>

              <div class="extra content">
                <div class="ui two buttons">
                  <a th:href="@{/admin/survey/list}" class="ui red button">Detay</a>
                </div>
              </div>
            </div>
          </div>

          <!-- card-8 -->
          <div class="four wide computer eight wide tablet sixteen wide mobile column">
            <div class="ui fluid card">

              <div style="min-height: 135px;" class="content">
                <div class="ui right floated header red">
                  <i class="icon shopping cart"></i>
                </div>
                <div class="header">
                  <div class="ui red header">Sipariş Yönetim</div>
                </div>

                <div style="margin-top:16px; margin-bottom:1px" class="ui grid">
                  <div style="padding-top: 0px;">
                    <div>
                      <b><span style="display: inline-block; min-width: 100px;">Toplam:</span> <span th:text="${dashboardInfo.getTotalOrder()}"></span></b>
                    </div>
                  </div>
                </div>

              </div>

              <div class="extra content">
                <div class="ui two buttons">
                  <a class="ui red button" th:href="@{/admin/orders/list}">Detay</a>
                </div>
              </div>
            </div>
          </div>
        </th:block>

      </div>
    </div>


  </div>





</th:block>

<th:block layout:fragment="customJs">
</th:block>

</body>
</html>